@font-face {
  font-family: Aniron;
  src: url(./fonts/aniron-font/Aniron-7BaP.ttf);
}

@font-face {
  font-family: Aniron;
  src: url(./fonts/aniron-font/AnironcBold-PKwr.ttf);
  font-weight: bold;
}

@font-face {
  font-family: PartyBusiness;
  src: url(./fonts/PartyBusiness-4B0K.ttf);
}

@font-face {
  font-family: "Tengwar Annatar";
  src: url(./fonts/tengwar_annatar/tngani.ttf);
}

* {
  font-family: Aniron;
}

/* COLORS */

.orange {
  color: #fe661d;
}

.orange-back {
  background-color: #fe661d;
}

.black {
  color: #1a1a1a;
}


/* NavBar*/

.logo {
  width: 90%;
}

.navbar a {
  color: white !important;
}

.navbar-nav {
  margin-left: 40px;
  font-size: 16px;
}

.nav-item {
  padding: 0px 10px 0px 10px;
  line-height: 12px;
}

.nav-item-two {
  border-left: solid 1px white;
}

.nav-item:hover a {
  color: black !important;
}

/* Banner */


/* .carousel, .carousel-inner, .carousel-item {
  height: 450px;
} */

.banner {
  display: flex;
}

.banner-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.banner-font {
  font-family: PartyBusiness;
  color: white;
}

.banner-title {
  font-size: 60px;
}

.banner-text {
  font-size: 40px;
}

.carousel-image {
  height: 480px;
}

/* Fellows */

.fellows-section {
  background-image: url("./images/bg_light.png"); 
  padding: 40px 10px 20px 10px;
  display: flex;
  flex-wrap: wrap;
}

.symbols {
  font-family: "Tengwar Annatar";
  margin: 5px;
}

.fellows-title {
  font-weight: bold;
  font-size: 24px;
  margin: 0px 0px 10px 30px;
  color: black;
}

.small-title {
  font-size: 18px;
}

.card {
  width: 350px;
  margin: 10px auto;
  border: solid 5px black;
}

.card-reward {
  text-align: center;
  font-size: 30px;
  font-family: PartyBusiness;
  line-height: 26px;
  padding: 10px 10px 10px 10px;
  opacity: 0.9;
  margin: 10px 40px 10px 50px;
}

.card-image-hover {
  position: absolute;
  width: 100%;
  height: 78%;
  background-color: hsla(0, 0%, 0%, 0.3);
}

.card-title {
  padding-top: 80px;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: PartyBusiness;
}

.card-text {
  font-size: 32px;
  padding: 10px 15px 10px 15px;
  background-color: black;
  color: rgb(196, 196, 196);
  font-family: PartyBusiness;
}

.card-image {
  height: 360px;
  overflow: hidden;
}

.card-dead {
  font-size: 40px;
  font-family: PartyBusiness;
  padding-top: 20px;
  text-align: center;
}

.card-title-dead {
  padding-top: 80px;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: PartyBusiness;
  text-decoration: line-through;
  text-decoration-color: #fe661d;
}

.card-image-dead-hover {
  position: absolute;
  width: 100%;
  height: 78%;
  background-color: hsla(0, 0%, 0%, 0.7);
}

/* Line */

.line {
  border: solid 2px #fe661d;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}

/* Contacts */

.contacts {
  display: flex;
  justify-content: space-evenly;
}

.contacts-section {
  background-image: url("./images/bg_dark.png");
  padding: 0px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.contacts-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  margin: 0px 0px 10px 30px;
  color: white;
}

.new-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.form-section {
  margin-bottom: 20px;
  width: 90%;

}
.form-control {
  color: grey;
}

.contacts-image {
  width: 90%;
  height: 90%;
  display: flex;
  margin: auto;
}

/* Footer */

.foot-section {
  font-size: 12px;
  padding: 20px 10px 20px 10px;
}

.foot-text {
  color: white;
  padding: 5px;
}

.foot-site {
  color: white;
  padding: 5px;
}

.foot-logo {
  width: 50%;
  margin-top: 10px;
}

.site {
  line-height: 12px;
}

@media (max-width: 768px) {
  
  .carousel-image {
    height: 330px;
  }

  .banner-title {
    font-size: 28px;
  }

  .banner-text {
    font-size: 20px;
  }

  .fellows-title, .contacts-title {
    font-size: 18px;
  }

  .small-title {
    font-size: 12px;
  }

  .foot-section { 
    text-align: center;
    font-size: 14px;
  }

}

@media (max-width: 575px) {

  .nav-item-two {
    border: solid 1px #fe661d;
  }

}